.home {
  margin: 0rem;
  /* display: flex;
  place-items: center; */
  background-image: url("../assets/Home/Home_Bg.png");
  background-repeat: no-repeat;
  background-attachment: fixed; /* Makes the background image stay fixed during scrolling */
  background-size: cover; /* Ensures the entire image is visible */
  background-position: center; /* Centers the image */
  overflow-x: hidden;
}

.pages {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100%; /* changed from 100vw */
}

.page {
  margin: 2rem;
} 



